@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(3%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  overflow: hidden;
  padding: 0 20px;
  background-color: #eed481;
  min-height: 100vh;
}

span:hover {
  color: #646464;
}

span {
  text-decoration: underline;
  cursor: pointer;
  color: #464646;
}

p {
  color: #464646;
}

::placeholder {
  color: #646464;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  /* Firefox */
  opacity: 1;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: 2px solid #464646;
}

input,
textarea {
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  margin-bottom: 18px;
  padding: 0px 5%;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #464646;
  background-color: #eaeaea;
}

.big-btn {
  background-color: #464646;
  color: white;
  border: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  cursor: pointer;
  width: 100%;
  font-size: 1.1rem;
  padding: 1.3rem;
  margin: 0;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
}

.big-btn:hover {
  background-color: #646464;
}

.main-container {
  background-color: #ffffff;
  border-radius: 25px;
  width: 600px;
  overflow: hidden;
  max-width: 100vw;
  min-height: 84vh;
  border: 2px solid #464646;
  animation: fade-in-up 1s;
  animation-timing-function: ease;
  position: relative;
}

.main-header-text {
  color: #464646;
  margin: 25px 10px 5px 30px;
  text-align: left;
  line-height: 1;
}