::placeholder {
    color: #646464;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    /* Firefox */
    opacity: 1;
}

.login-form-container {
    background-color: #ffffff;
    border-radius: 25px;
    width: 550px;
    overflow: hidden;
    max-width: 90vw;
    height: auto;
    border: 2px solid #464646;
    animation: fade-in-up 1s;
    animation-timing-function: ease;
}

.login-form-header {
    margin: 30px 0px 20px 0px;
    font-size: 32px;
    font-weight: 700;
    color: #464646;
    font-weight: 800;
}

input:hover,
input:focus {
    outline: 2px solid #464646;
}

input {
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    padding: 0px 5%;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #464646;
    background-color: #eaeaea;
}

.login-form-text {
    margin: auto;
    padding-bottom: 20px;
    width: 70%;
}

.submit-btn {
    background-color: #464646;
    color: white;
    border: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    padding: 1.3rem;
    margin: 0;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}

.submit-btn:hover {
    background-color: #646464;
}