@keyframes slide-top {
    0% {
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


@keyframes slide-bot {
    0% {
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.prevent-select {
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 2vh 0;
    animation: slide-top 1s;
    animation-timing-function: ease;

}

.logo {
    width: 28px;
    margin-right: 5px;
}

.logo-text {
    color: #464646;
    font-weight: 800;
    font-size: 22px;
}

.app-footer {
    width: 100%;
    padding: 2vh 0;
    animation: slide-bot 1s;
    animation-timing-function: ease;
}